html{
    float: left;
    width: 100%;
    height: 100%;
}

body{
    display:none;
}

.siac-box{
	width: 100%;
    
	text-align:center;
	margin-top: 35px;
	font-family: Arial;
}

	.siac-box-status{
		border: 1px solid #b0b0b0;
		width: 30%;
		height: 200px;
		margin:0 auto;
		
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
	}
	
	.siac-box-status .scroll-box{
		height: 160px;
		overflow:auto;
		margin: 14px;
	}
	
	.siac-box-status ul{
		list-style: decimal-leading-zero;
		text-align: left;
	}
	
	.siac-box-status ul .pendente{
		color:#ff0707;
	}
	.siac-box-status ul .atualizado{
		color:#008739;
	}
